<b>Привет!</b><br>
Я бот для поиска фильмов.<br>
<br>
Просто оправь мне название фильма и я найду где его можно посмотреть.<br>
<br>
<b>Список команд:</b><br>
<br>
/start — приветственное сообщение<br>
/help — список команд<br>
/history - история запросов<br>
/stats - статистика запросов<br>
